#danhsach {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}
h1, h2 {
    text-align: center;
    color: rgb(255, 0, 0);
}
.dongvat1-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
    height: 250px;
    text-align: center;
    cursor: pointer;
    
}

.dongvat1-card {
    background: linear-gradient(red,green,yellow);
}

.dongvat1-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#thuvien {
 width: 100%;
 display: flex; 
 gap: 10px;
 justify-content: space-between;
}
#thuvien img {
    border: 10px solid rgb(0, 27, 235);
    border-radius: 10px;
     width: 50%;
    height: 200px;
}